@import "css_reset";
@import "variable";
@import "mixin";

/*import font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    color: #fff;
    background-color: #000;
}
h1,h2,h3,h4,h5,p,a,li{
    font-family: 'Noto Sans TC', sans-serif;
}
p{
    line-height: 1.5;
}
h1{
    margin: 40px 0;
    font-size: 7.5rem; //desktop 120px
    font-weight: 900;
    line-height: 1.2;
    color: #fff;
    @include pad{
        font-size: 5rem;
    }
    @include mobile{
        font-size: 3rem;
    }
}
h2{
    font-size: 5rem; //desktop 80px
    font-weight: 900;
    line-height: 1.2;
}
h3{
    font-size: 3rem; //desktop 48px
    font-weight: 900;
    line-height: 1.2;
}
h4{
    font-size: 2rem; //desktop 32px
    font-weight: 900;
}
h5{
    font-size: 1.5rem; //desktop 24px
}
a{
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}
section{
    margin: 10rem 0;
}
.container{  
    max-width: 100vw;
    width: 1328px;
    margin: 0 auto;
    padding: 0 1rem;
    overflow: hidden;

}
.flex{
    display: flex;
    &-col{
        flex-direction: column;
    }
    &-colreverse{
        flex-direction: column-reverse;
    }
    .rowreverse{
        flex-direction: row-reverse;
    }
}
.j{
    &-center{
        justify-content: center;
    }
    &-end{
        justify-content: flex-end;
    }
    &-between{
        justify-content: space-between;
    }
}
.a{
    &-center{
        align-items: center;
        align-content: center;
    }
}
.wrap{
    flex-wrap: wrap;
}
.btn{
    display: inline-block;
    padding: 20px 40px;
    border: 1px solid #fff;
    border-radius: 1rem;
    font-weight: 900;
    &:hover{
        background-color: #fff;
        color: #000;
    }
}
.btn-filter{
    display: inline-block;
    padding: 20px 40px;
    border: 1px solid #F2F2F2;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    i{
        padding-left: 12px;
    }
}
.gap{
    gap: 24px;
}


/*main css*/

.nav-bar{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    img{
        height: 40px;
    }
}
.nav-list{
    gap: 20px;
    a{
        font-size: 20px;
        text-decoration: none;
        color: #fff;
    }
}
.decogroup{
    margin-top: 100px;
    height: 180px;
    overflow: hidden;
    li{
        position: relative;
        height: 180px;
        animation: arrowup 4s infinite;
    }
    .delay{
        &1{
            animation-delay: 1s;
        }
        &2{
            animation-delay: 0.5s;
        }
    }
}
.h-group{
    margin-bottom: 80px;
    li{
        &:first-child{
            width: 414px;
        }
        &:last-child{
            max-width: 856px;
        }
    }
}
.service-card{
    gap: 20px;
    max-width: 416px;
    padding: 80px 40px;
    border: 1px solid #525252;
    border-radius: 1rem;
    img{
        width: 80px;
    }
    p{
        color: #F2F2F2;
    }
}
.logo-group{
    position: relative;
    max-width: 1296px;
    margin: 5rem 0;
    overflow: hidden;
    img{
        height: 40px;
    }
    li{
        margin: 20px 0;
    }
    &::before{
        position: absolute;
        top: 0;
        width: 10rem;
        height: 100%;
        content: "";
        z-index: 10;
        left: 0;
        background: linear-gradient(to right, #000 0%, transparent 100%);
    }
    &::after{
        position: absolute;
        top: 0;
        width: 10rem;
        height: 100%;
        content: "";
        z-index: 10;
        right: 0;
        background: linear-gradient(to left, #000 0%, transparent 100%);
    }
}
.marquee{
    div{
        animation: marquee 20s linear infinite;
    }
}
.command-card{
    gap: 20px;
    max-width: 416px;
    margin-top: 80px;
    padding: 2.5rem;
    border-radius: 1rem;
    background-color: #FFFFFF14;
    &>p{
        flex-grow: 1 1 0%;
    }
}
.rate{
    gap: 20px;
}
.user{
    gap: 16px;
}
.textbox{
    p{
        &:first-child{
            font-weight: 700;
        }
        &:last-child{
            font-size: 14px;
        }
    }
}
.white{
    padding: 10rem 0;
    border-radius: 10rem;
    text-align: center;
    color: #000;
    background-color: #fff;
    h2{
        margin-bottom: 80px;
    }
}
.input-group{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 24px 0;
    padding-left: 40px;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #F2F2F2;
    .search-icon{
        padding-right: 10px;
    }
}
.search{
    flex-grow: 1;
    height: 4rem;
    padding: 20px 40px 20px 10px;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    color: #919191;
    background-color: #F2F2F2;
}
.filter-type{
    gap: 8px;
    li{
        padding: 8px 16px;
        border-radius: 1rem;
        color: #919191;
    }
    .active{
        font-weight: 700;
        color: #020202;
        background-color: #F2F2F2;
    }
    @include mobile{
        display: none;
    }
}
.card-album{
    margin: 40px 0;
    gap: 24px;
}
.card{
    width: 416px;
    border: 1px solid #F2F2F2;
    border-radius: 1rem;
    text-align: left;
    overflow: hidden;
    ul{
        border-top: 1px solid #F2F2F2;
        padding: 20px 32px;
        img{
            height: 16px;
        }
    }
}
.card-img{
    height: 312px;
    overflow: hidden;
    img{
        height: 312px;
        &:hover{
            transition: 0.5s;
            height: 350px;
        }
    }
}
.text-area{
    gap: 12px;
    h5{
        font-size: 1rem;
        font-weight: 900;
    }
}
.page{
    li{
        width: 48px;
        height: 48px;
        padding: 16px 0;
        border-radius: 1rem;
        text-align: center;
    }
    .active{
        color: #fff;
        background-color: #000;
    }
}
.join-us{
    text-align: center;
    h3{
        margin-bottom: 40px;
    }
}
.social{
    padding: 32px 0;
}
footer{
    .link{
        padding: 80px 0;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        img{
            height: 40px;
        }
    }
    &-logo{
        padding-right: 80px;
    }
}

/*animation*/
@keyframes arrowup{
    0%{bottom: -180px;}
    30%{bottom: 0px;}
    50%{bottom: 0px}
    100%{bottom: 180px;}
}
@keyframes marquee{
    0%{transform: translateX(0);}
    100%{transform: translateX(-100%);}
  }